@import "../libs/modularized-normalize-scss/normalize";

/* Modified by Matt - on 08/10/14 */
// ============================================================ //
// Colours //
// ============================================================ //

$disabled-color: #999;
$accent-color: #FFAE00;
$accent-color-rgba: rgba(255, 174, 0, 0.5);

/* ============================================================ */
/* FontAwesome */
/* ============================================================ */

@import "../libs/fontawesome/scss/font-awesome";

/* ============================================================ */
/* Base */
/* ============================================================ */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: #303030;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  margin: 0 0 20px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
  margin-bottom: 12px;
}

h6 {
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  color: #9B9B9B;
  line-height: 1.8;
  margin: 0 0 25px;
}

em {
  font-style: italic;
}

strong {
  font-weight: 500;
}

a {
  color: $accent-color;
  text-decoration: none;
}

blockquote {
  border-left: 5px solid $accent-color;
  font-size: 20px;
  margin: 35px 0;

  p {
    color: #C2C2C2;
    padding: 10px 20px;
  }
}

img {
  display: block;
  padding: 10px 0 8px;
  width: auto;
  max-width: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid $accent-color;
  margin: 60px 0;
  padding: 0;
}

input[type="text"] {
  border: 1px solid #C2C2C2;
  border-radius: 3px;
  padding: 8px 12px;
  width: 100%;
  max-width: 255px;
}

/* Code Blocks */

pre {
  background: #E8F6FA;
  border: 1px solid #BFE7F5;
  border-radius: 3px;
  color: #727272;
  line-height: 1.4;
  margin: 35px 0;
  padding: 20px;
  white-space: pre;
  overflow: auto;
}

p code {
  background: #E8F6FA;
  border: 1px solid #BFE7F5;
  border-radius: 3px;
  padding: 1px 5px;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.animate {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

/* ============================================================ */
/* General Appearance */
/* ============================================================ */

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.content-primary {
  background: #F6F6F6;
  border-top: 1px solid #EAEAEA;
  padding: 20px;
}

/* ============================================================ */
/* Header */
/* ============================================================ */

.site-header {
  background: #FEFEFE;
  background-size: cover;
  border-top: 5px solid #FFD800;
  padding: 30px 0;
  text-align: center;
}

.site-nav {
  display: block;
  list-style: none;
  float: right;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 36px;
  padding: 0;
  width: 100%;
}

.site-nav-item {
  display: inline-block;
  margin: 0 15px;

  a {
    color: #D6D6D6;
  }
  a:hover {
    color: $accent-color;
  }
}

.site-logo {
  display: inline-block;
  margin: 0 auto;

  img {
    display: inline-block;
    max-width: 65%;
    padding: 0;
  }
}

.site-title {
  clear: both;
  display: block;
  font-size: 48px;
  margin: 0;

  a {
    color: #303030;

    &:hover {
      color: $accent-color;
    }
  }
}

.site-description {
  color: #C6C6C6;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  margin: 13px auto 0;
  max-width: 640px;
}

/* ============================================================ */
/* Posts */
/* ============================================================ */

.posts-container {
  margin: 10px 0 80px 0;

  .page {
    display: none;

    .post-stub-footer {
      .comments {
        display: none;
      }
    }
  }
}

.post {
  background: #FEFEFE;
  border: 1px solid #EAEAEA;
  border-bottom: 1px solid #E8E8E8;
  float: left;
  margin: 0 1.5%;
  width: 97%;
}

.post-feature {
  background: #FAFAFA;
  position: relative;

  a:hover {
    .post-feature-overlay {
      background: $accent-color-rgba;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: auto;
    max-width: 100%;
  }

  // Make embedded videos appear above the feature overlay hover
  iframe {
    z-index: 2;
  }

  // We only want to display images in the featured section but with
  // the current hack to pull out featured images in ghost we
  // sometimes end up with unwanted elements so the following
  // hides them and fixes any formatting issues
  p, a > :first-child {
    margin: 0;
  }

  ul, ol, code,
  h1, h2, h3, h4, h5, h6,
  blockquote {
    display: none;
  }
}

.post-feature-overlay {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.post-header {
  padding: 37px 30px 0;
}

.post-meta {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 5px;

  .tags {
      a {
        margin-left: 5px;

        &:first-child {
            margin-left: 0;
        }
    }
  }
}

.post-date {
  color: $accent-color;
  padding-right: 5px;
}

.post-title {
  margin: 0 0 25px;

  a {
    color: #303030;

    &:hover {
      color: $accent-color;
    }
  }
}

.post-content {
  padding: 0 30px 35px;

  *:last-child {
    margin-bottom: 0;
  }

  a {
    color: $accent-color;

    &:hover {
      border-bottom: 1px dotted $accent-color;
    }
  }

  /* Lists */

  ul, ol {
    background: #F7F7F7;
    border-radius: 3px;
    margin: 35px 0;
    padding: 20px 50px;

    li {
      color: #9B9B9B;
      line-height: 1.8;
      padding: 6px 0;
    }
  }

  ul {
    list-style: none;

    li {
      color: #9E9E9E;
      position: relative;

      &:before {
        content: "\f054";
        color: $accent-color;
        font-family: "FontAwesome";
        font-size: 12px;
        position: absolute;
        top: 14px;
        left: -18px;
      }
    }
  }

  ol {
    padding-left: 60px;
    padding-right: 60px;
  }

  li ul,
  li ol {
    margin: 0;
    padding: 6px 0 0 20px;
  }
}

.post-tags {
  display: inline-block;
  margin: 0;

  a {
      margin-left: 5px;

      &:first-child {
          margin-left: 0;
      }
  }

  a:hover {
    border-bottom: 1px dotted $accent-color;
  }
}

.post-link {
  color: #B1B1B1;
  float: right;
  font-family: "FontAwesome";
  font-size: 16px;
  margin: 3px 0 0 6px;

  &:hover {
    color: $accent-color;
  }
}

/* Post Stub */

.post-stub {
  float: left;
  margin: 0 1.5% 40px;
  position: relative;
  width: 97%;
}

.post-stub.featured {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
  }

  &:before {
    border-left: 50px solid transparent;
    border-top: 50px solid lighten($accent-color, 10%);
    content: "";
  }

  &:after {
    content: "\f005";
    color: #FFF;
    font-family: "FontAwesome";
    margin: 6px;
  }
}

.post-stub-meta {
  @extend .post-meta;

  margin-bottom: 8px;
}

.post-stub-footer {
  background: #FAFAFA;
  border-top: 1px solid #F3F3F3;
  font-size: 14px;
  min-height: 53px;
  overflow: auto;
  padding: 15px 30px;
}

.post-stub-title {
  @extend .post-title;

  font-size: 26px;
  margin: 0 0 15px;
}

.load-more-posts {
  clear: both;
  background: $accent-color;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin: 30px auto 0;
  padding: 10px;
  text-align: center;
  width: 50%;
  max-width: 400px;

  &:hover {
    background: #303030;
  }

  &.disabled {
      background-color: $disabled-color;
      opacity: .5;
      cursor: not-allowed;
  }
}

.no-more-posts {
  display: none;
}

/* ============================================================ */
/* Author */
/* ============================================================ */

.author-profile {
  margin-top: 50px;
}

.author-avatar {
  border: 1px solid #303030;
  border-radius: 80px;
  height: 80px;
  margin: 0 auto 15px;
  padding: 0;
  width: 80px;
}

.author-name {
  margin-bottom: 20px;
}

.author-meta {
  color: #9B9B9B;

  i {
    margin-right: 8px;
  }

  span {
    display: inline-block;
    margin: 0 10px 8px;
  }

  a {
    color: #9B9B9B;
  }
  a:hover {
    color: $accent-color;
  }
}

.author-bio {
  max-width: 700px;
  margin: 20px auto 0;
}

/* ============================================================ */
/* Sidebar */
/* ============================================================ */

.sidebar {
  background: #FEFEFE;
  border: 1px solid #EBEBEB;
  float: right;
  margin: 40px 1.5%;
  width: 97%;
}

.widget {
  border-bottom: 1px solid #F3F3F3;
}

.widget-title {
  color: #7A7A7A;
  margin: 0 0 20px;
}

.widget-content {
  padding: 25px 30px;

  *:last-child {
    margin-bottom: 0;
  }
}

/* Author Widget */

.widget-author-header {
  background: #FAFAFA;
  border-bottom: 1px solid #F3F3F3;
  overflow: auto;
  padding: 25px 30px;
}

.widget-author-avatar {
  border: 1px solid #303030;
  border-radius: 35px;
  float: left;
  height: 70px;
  margin: 0 18px 0 0;
  padding: 0;
  width: 70px;
}

.widget-author-name {
  margin: 10px 0 2px;

  a {
    color: #303030;
  }
  a:hover {
    color: $accent-color;
  }
}

.widget-author-location {
  color: #9B9B9B;
  font-size: 16px;
}

/* ============================================================ */
/* Pagination */
/* ============================================================ */

.pagination {
  display: block;
  margin: 20px 1.5% 0;
  overflow: auto;
  width: 97%;

  &.pagination-none {
    display: none;
  }
}

.newer-posts {
  float: left;
}

.older-posts {
  float: right;
}

/* ============================================================ */
/* Footer */
/* ============================================================ */

.site-footer {
  background: #FEFEFE;
  border-top: 1px solid #EAEAEA;
  font-size: 16px;
  padding: 80px 0;
  text-align: center;

  p {
    color: #D6D6D6;
    margin: 0;
  }

  a {
    color: #C6C6C6;

    &:hover {
      color: $accent-color;
    }
  }
}

.footer-copyright {
  text-transform: capitalize;
}

.icon-menu {
  font-family: "FontAwesome";
  font-size: 32px;
  margin: 0 auto 35px;

  a {
    color: #F0F0F0;
    margin: 0 7px;

    &:hover {
      color: $accent-color;
    }
  }
}

/* ============================================================ */
/* Spinner (borrowed from NProgress http://ricostacruz.com/nprogress/) */
/* ============================================================ */

.spinner {
  display: block;
  margin: 4px auto 3px;
  z-index: 100;
}

.spinner-icon {
  width: 14px;
  height: 14px;

  border: solid 2px transparent;
  border-top-color: #FFF;
  border-left-color: #FFF;
  border-radius: 10px;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  -moz-animation: nprogress-spinner 400ms linear infinite;
  -ms-animation: nprogress-spinner 400ms linear infinite;
  -o-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes nprogress-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes nprogress-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes nprogress-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ============================================================ */
/* No JavaScript */
/* ============================================================ */

.no-js .pagination {
  display: block;
}

.no-js .load-more-posts {
  display: none;
}

/* ============================================================ */
/* Disqus Comments */
/* ============================================================ */

#disqus_thread {
  padding: 22px 2px;
}

#twitter-widget-0 {
  width: 100%;
}

.page-template {
  .page {
    float: none;
    width: auto;
  }

  .sidebar {
    display: none;
  }
}

/* ============================================================ */
/* Media Queries */
/* ============================================================ */

@media only screen and (min-width: 420px) {
  .site-nav {
    margin-top: -60px;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    padding: 0 20px;
  }

  .site-description {
    font-size: 22px;
    margin-top: 20px;
  }

  .site-logo {
    img {
      max-width: 100%;
    }
  }

  .posts-container {
    .post-stub {
      width: 47%;
    }

    .page {
      display: inline-block;
    }
  }

  .post-header {
    padding: 37px 40px 0;
  }

  .post-content {
    padding: 0 40px 35px;
  }

  .post-stub-footer {
    padding: 15px 30px;
  }
}

@media only screen and (min-width: 880px) {
  .site-nav {
    text-align: right;
  }

  .site-nav-item {
    margin-left: 30px;
  }

  .post {
    width: 63.667%;
  }

  .sidebar {
    width: 30.333%;
  }
}

@media only screen and (min-width: 992px) {
  /* uncss:ignore */
  .page-template {
    .page {
      .post-feature {
        float: right;
        max-width: 50%;
        margin-left: 20px;
        margin-bottom: 15px;
      }
    }
  }
}

@media only screen and (min-width: 1140px) {
  .container {
    max-width: 1348px;
  }

  .posts-container {
    .post-stub {
      width: 30.333%;
    }
  }
}

@media only screen and (max-width: 1030px) {
  .widget-author-header {
    padding: 30px 30px 25px;
    text-align: center;
  }

  .widget-author-avatar {
    float: none;
    margin: 0 auto 10px;
  }
}