{{> header}}

<header class="site-header{{#if site.cover}}" style="background-image: url({{resolve site.cover}}){{else}}no-cover{{/if}}">
    <div class="container">
        {{> navigation}}

        {{#if site.logo}}
            <a class="site-logo" title="{{site.title}}" href="{{resolve "/"}}"><img src="{{resolve site.logo}}" alt="{{site.title}}" /></a>
        {{else}}
            <h1 class="site-title"><a title="{{site.title}}" href="{{resolve "/"}}">{{site.title}}</a></h1>
        {{/if}}

        {{#if tag}}
            <h2 class="site-description">Posts tagged: {{tag}}</h2>
        {{else}}
            {{#if dateStr}}
                <h2 class="site-description">Posts dated: {{dateStr}}</h2>
            {{else}}
                <h2 class="site-description">{{site.description}}</h2>
            {{/if}}
        {{/if}}
    </div>
</header>

<div class="content-primary">
    <div class="container clearfix">
        <div class="posts-container js-posts-container clearfix">
            {{> loop}}
        </div>

        <div class="pagination clearfix{{#if (or prevUrl nextUrl)}}{{else}} pagination-none{{/if}}">
            <a class="load-more-posts{{#if nextUrl}}{{else}} disabled{{/if}}"{{#if nextUrl}} href="{{nextUrl}}" data-total-pages="{{totalPages}}"{{else}} href="#"{{/if}}>Next Page</a>
            <a class="load-more-posts{{#if prevUrl}}{{else}} disabled{{/if}}"{{#if prevUrl}} href="{{prevUrl}}" data-total-pages="{{totalPages}}"{{else}} href="#"{{/if}}>Previous Page</a>
        </div>
    </div>
</div>

{{> footer}}