{{> header}}

<header class="site-header{{#if site.cover}}" style="background-image: url({{resolve site.cover}}){{else}}no-cover{{/if}}">
    <div class="container">
        {{> navigation}}
        
        {{#if site.logo}}
            <a class="site-logo" title="{{site.title}}" href="{{resolve "/"}}"><img src="{{resolve site.logo}}" alt="{{site.title}}" /></a>
        {{else}}
            <h1 class="site-title"><a title="{{site.title}}" href="{{resolve "/"}}">{{site.title}}</a></h1>
        {{/if}}
    </div>
</header>

<div class="content-primary">
    <div class="container clearfix">
        {{#post}}
            <article class="{{post_class}}">
                <header class="post-header">
                    <h1 class="post-title">{{title}}</h1>
                </header>

                <div class="post-content js-post-content">
                    {{{body}}}
                </div>
           </article>

            <div class="sidebar">
                <aside class="widget widget-author">
                    <header class="widget-author-header">
                        <img class="widget-author-avatar" src="{{author.image}}" alt="{{author.name}}" />

                        <h4 class="widget-author-name">{{author.name}}</h4>

                        <span class="widget-author-location">{{author.location}}</span>
                    </header>

                    <div class="widget-content">
                        <p>{{author.bio}}</p>
                    </div>
                </aside>
           </div>
        {{/post}}
    </div>
</div>

{{> footer}}