{{> header}}

<header class="site-header{{#if site.cover}}" style="background-image: url({{resolve site.cover}}){{else}}no-cover{{/if}}">
    <div class="container">
        {{> navigation}}

        {{#if site.logo}}
            <a class="site-logo" title="{{site.title}}" href="{{resolve "/"}}"><img src="{{resolve site.logo}}" alt="{{site.title}}" /></a>
        {{else}}
            <h1 class="site-title"><a title="{{site.title}}" href="{{resolve "/"}}">{{site.title}}</a></h1>
        {{/if}}
    </div>
</header>

<div class="content-primary">
    <div class="container clearfix">
        {{#post}}
            <article class="{{post_class}}">
                <header class="post-header">
                    <div class="post-meta">
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do YYYY"}}</time>
                        <span class="tags">{{#if tags}} on {{{tags}}}{{/if}}</span>
                        <div class="comments"><a href="{{url}}#disqus_thread"><i class="fa fa-comment"></i> Comments</a></div>
                    </div>

                    <h1 class="post-title">{{title}}</h1>
                </header>

                <div class="post-content js-post-content">
                    {{{body}}}
                </div>

                <footer class="post-stub-footer">
                    <div id="disqus">
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            var disqus_shortname = 'ducksoupdev';
                            var disqus_identifier = '{{id}}';
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                    </div>
                </footer>
            </article>

            <div class="sidebar">
                <aside class="widget widget-author">
                    <header class="widget-author-header">
                        <img class="widget-author-avatar" src="{{author.image}}" alt="{{author.name}}" />

                        <h4 class="widget-author-name">{{author.name}}</h4>

                        <span class="widget-author-location">{{author.location}}</span>
                    </header>

                    <div class="widget-content">
                        <p>{{author.bio}}</p>
                    </div>
                </aside>
           </div>
        {{/post}}
    </div>
</div>

{{> footer}}