<article class="post about post-stub">
    <div class="post-feature">
        <a href="/about-duck-soup/">
            <p><img src="/content/images/2014/10/about-us1.jpg" alt="About Duck Soup"></p>
            <div class="post-feature-overlay"></div>
        </a>
    </div>

    <header class="post-header">
        <h1 class="post-stub-title"><a href="/about-duck-soup/">About Duck Soup</a></h1>
    </header>

    <div class="post-content">
        <p>Duck Soup is the creative partnership of Matt &amp; Imogen Levy.
            We design and build websites and webapps.
            We are friendly and easy to work with...</p>
    </div>

    <footer class="post-stub-footer">
        <a class="post-link" href="/about-duck-soup/">&#xf14c;</a>
    </footer>
</article>