<footer class="site-footer">
    <div class="container">
        <div class="icon-menu">
            <a title="{{site.title}} on Twitter" href="https://twitter.com/ducksoupdev">&#xf081;</a>
            <a title="{{site.title}} on Github" href="https://github.com/ducksoupdev">&#xf092;</a>
            <a title="{{site.title}} on Bitbucket" href="https://bitbucket.org/ducksoupdev">&#xf171;</a>
            <a title="{{site.title}} RSS Feed" href="{{rss}}">&#xf143;</a>
        </div>

        <p class="footer-copyright"><a title="{{site.title}}" href="{{site.url}}">{{site.title}}</a> &copy; {{date format="YYYY"}} / <a href="http://jollygoodthemes.com" title="Toffee Theme">Toffee Theme</a> by <a href="http://jollygoodthemes.com" title="JollyGoodThemes">JollyGoodThemes</a></p>
    </div>
</footer>

<script type="text/javascript" src="{{resolve "/js/combined.min.js"}}"></script>

<script type="text/javascript">
    var disqus_shortname = 'ducksoupdev';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

</body>
</html>
