<!DOCTYPE html>
<html lang="en">
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{resolve "/favicon.ico"}}">

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{resolve "/css/style.min.css"}}" />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic|Roboto+Slab:700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="{{resolve "/css/ie.css"}}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
    <![endif]-->

    <meta name="generator" content="{{generator}}" />
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{rss}}">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-22161627-1', 'www.ducksoupdev.co.uk');
        ga('send', 'pageview');
    </script>
</head>
<!--[if IE 7]> <body class="{{body_class}} no-js ie7"> <![endif]-->
<!--[if IE 8]> <body class="{{body_class}} no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <body class="{{body_class}} no-js"> <!--<![endif]-->