{{#each pages}}
    <article class="{{post_class}} post-stub">
        <div class="post-feature">
            <a href="{{url}}">
                {{{content words="0"}}}

                <div class="post-feature-overlay"></div>
            </a>
        </div>

        <div class="post-content-container">
            <header class="post-header">
                <h1 class="post-stub-title"><a href="{{url}}">{{title}}</a></h1>
            </header>

            <div class="post-content">
                <p>{{{excerpt characters=230}}}...</p>
            </div>
        </div>

        <footer class="post-stub-footer">
            <a class="post-link" href="{{url}}">&#xf14c;</a>
        </footer>
    </article>
{{/each}}
{{#each posts}}
    <article class="{{post_class}} post-stub">
        <div class="post-feature">
            <a href="{{url}}">
                {{{content words="0"}}}

                <div class="post-feature-overlay"></div>
            </a>
        </div>

        <div class="post-content-container">
            <header class="post-header">
                {{#if date}}
                <div class="post-stub-meta">
                    <span class="post-date">{{date format="MMMM Do YYYY"}}</span>
                </div>
                {{/if}}

                <h1 class="post-stub-title"><a href="{{url}}">{{title}}</a></h1>
            </header>

            <div class="post-content">
                <p>{{{excerpt characters=230}}}...</p>
            </div>
        </div>

        <footer class="post-stub-footer">
            {{#if tags}}
                <p class="post-tags">{{{tags}}}</p>
            {{/if}}

            <a class="post-link" href="{{url}}">&#xf14c;</a>
            <a class="post-link comments" href="{{url}}#disqus">&#xf075;</a>
        </footer>
    </article>
{{/each}}